body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.div {
     width: 80%;
     margin: auto;
     overflow: hidden;
}

#load_date {
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding: 20px;

    margin-top: 20px;
    margin: 20px 0;
}

#code_snippet {
     background-color: #333;
        color: #fff;
        border: 5px red solid;
        border-width: 3px;
        border-bottom-width: 10px;
        border-top-style: dotted;

        padding: 20px;

        margin-top: 20px;
        margin: 20px 0;
}

.pre {
    border-color: #FF7215
    border-style: solid;
    border-width: 2px;
    padding: 10px;

}

h1{
    color: red;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: teal;
}

a:hover{
    color:green;
    font-size: 20px;
}

a:active{
    color:#F47023;
}