<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet" href="/css/style.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div class="container">
        <span id="load_date" th:text="${snippet_date}"></span>
        <br>
        <div class="valuesLeft">
            <span th:if="${snippet_timeInSeconds != null}">
                <pre>
                    <span id="load_views" class="thvalues" th:text="${snippet_viewsLeft}"> more views allowed</span>

                    <br>

                    <span id="load_time" class="thvalues" th:text="${snippet_timeInSeconds}"> seconds is available after the creation of code before the code is deleted.
                    </span>
                </pre>
            </span>
        </div>
        <pre><code id="code_snippet" th:text="${snippet_code}">
        </code>
        </pre>
    </div>
</body>
</html>