<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/funcSend.js"></script>
</head>
<body>
    <div class="container">
        <h1>Type or paste your code here:</h1>
        <form method="post">
            <textarea id="code_snippet" width="300" height="500" placeholder="//Write your code..."></textarea>
            <br>
            <button id="send_snippet" onclick="send()" class="myButton">Submit</button>
        </form>
    </div>
</body>
</html>