<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in!</title>
    <link rel="stylesheet" href="/css/loginStyle.css"/>
    <script type="text/javascript" src="/js/signinSend.js"></script>
</head>
<body>
<div id="signin-box">
    <div class="signup-box">
        <h1>Sign In</h1>
        <form method="post">
            <input id="email" name="email" type="text" placeholder="E-mail" required/>
            <input id="password" name="password" type="password" placeholder="Password" required/>

            <input type="submit" name="signup_submit" value="Sign In" onclick="send()"/>
        </form>
    </div>

</div>
</body>
</html>