<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/loginStyle.css">
    <script type="text/javascript" src="/js/signupSend.js"></script>
</head>
<body>
<div id="login-box">
    <div class="signup-box">
        <h1>Sign up</h1>
        <form method="post">
            <input id="username" type="text" placeholder="Username" required/>
            <input id="email" type="text" placeholder="E-mail" required/>
            <input id="password" type="password" placeholder="Password" required/>
            <input id="confirmPassword" type="password" placeholder="Retype password" required/>

            <input type="submit" name="signup_submit" value="Sign up" onclick="send()"/>
        </form>
    </div>

</div>

</body>
</html>