<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign in!</title>
    <link rel="stylesheet" href="/css/loginStyle.css"/>
    <!-- <script type="text/javascript" src="/js/signinSend.js"></script>   -->
</head>
<body>
<div id="signin-box">
    <div class="signup-box">
        <h1>Sign In</h1>
        <form method="post" action="#" th:action="@{'/login'}">
            <input id="email" name="username" type="text" placeholder="E-mail" required/>
            <input id="password" name="password" type="password" placeholder="Password" required/>
            <a th:href="@{/signup}">Click here to Sign Up!</a>
            <input type="submit" name="signup_submit" value="Sign In"/>
        </form>
    </div>

</div>
</body>
</html>